header.header
	.container-xl
		.header-top.fly-center
			a(href="index.html").logo
				img(src="./img/logo.webp", alt="logo")
			
			a(href="#!").btn News
			//===burger for mob menu ===
			.menu-toggle#menu-toggle
				span
		.header-nav#header-menu
			ul
				li
					a(href="") HOME
				li
					a(href="") ROLE PLAYING
				li
					a(href="") ACTION
				li
					a(href="") STRATEGY
				li
					a(href="") WAR GAMES
				li
					a(href="") NEWS

